<div class="card top container">
  <div class="content">
    <div class="bar">
      <div class="left">
        <button type="button" class="btn button">Create new moderator account</button>
      </div>
      <div >
        <button type="button" class="btn button">Filter</button>
        <button type="button" class="btn button">Sort</button>
      </div>
    </div>
    <div class="moderlist">
      <tr *ngFor="let element of info">
        <td>
          <div class="moder">
            <div class="photo">

            </div>
            <div class="nick">
              <span class="name">{{element.nickname}}</span>
              <span class="smth">id: {{element.userid}}</span>
              <br>
              <span class="smth">email: {{element.email}}</span>
            </div>
            <div class="buttons name_buttons">
              <button type="button" class="btn button">Edit</button>
              <button type="button" class="btn button spec" (click)="deleteModer(element.userid)">Delete</button>
            </div>
          </div>

        </td>
      </tr>
    </div>
  </div>
</div>
