<div class="card top container">
  <div class="content">
    <div class="bar">
      <div class="left">
        <button type="button" class="btn button">Create new moderator account</button>
      </div>
      <div >
        <button type="button" class="btn button">Filter</button>
        <button type="button" class="btn button">Sort</button>
      </div>
    </div>
    <div class="moderlist">
      <div class="moder">
        <div class="photo">

        </div>
        <div class="name_buttons">
        <div class="name">
          <div class="nick">
          Nickname
          </div>
          <div class="smth">
            Something else
          </div>
        </div>
        <div class="buttons">
          <button type="button" class="btn button">Edit</button>
          <button type="button" class="btn button">Delete</button>

        </div>
      </div>
    </div>
    </div>
  </div>
</div>
