<app-navbar [isSearchable]="false"></app-navbar>
<div class="alert alert-danger" role="alert" *ngIf="isError" (click)="isError = false">
  {{this.alertText}}
</div>
<div class="bdy-cart container dsp">
  <h1>{{title}}</h1>

  <form [formGroup]="form" (keyup.enter)="submit()" (ngSubmit)="submit()">
    <div class="corona form-group lg10">
      <input
        formControlName="email"
        id="email"
        type="email"
        class="form-control"
        placeholder="email">
      <div *ngIf="this.form.controls.email.touched && this.form.controls.email.invalid" class="alert alert-danger">
        <div *ngIf="this.form.controls.email.errors?.required">Email is required.</div>
      </div>
    </div>
    <div class="corona form-group lg10">
      <input
        formControlName="password"
        id="password"
        type="password"
        class="form-control"
        placeholder="password">
      <div *ngIf="this.form.controls.password.touched && this.form.controls.password.invalid" class="alert alert-danger">
        <div *ngIf="this.form.controls.password.errors?.required">Password is required.</div>
      </div>
    </div>
    <div class="corona form-group lg10">
      <input
        formControlName="doubleCheckPass"
        id="doubleCheckPass"
        type="password"
        class="form-control"
        placeholder="repeat password">
      <div *ngIf="this.form.controls.doubleCheckPass.touched && this.form.controls.doubleCheckPass.invalid" class="alert alert-danger">
        <div *ngIf="this.form.controls.doubleCheckPass.errors?.required">Password is required.</div>
        <div *ngIf="this.form.controls.doubleCheckPass.errors?.confirmedValidator">Password and Confirm Password must be match.</div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Enter</button>
  </form>
  <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
</div>
