.navbar-expand-lg .navbar-collapse {
  background-color: #62A1FE;
  display: flex!important;
  flex-basis: auto;
  border-radius: 5px;
}

button, optgroup, select, textarea {
  margin: 5px;
  padding: .175rem .55rem;
  color: white;
  background-color: #2981ff;
}

a {
  color: #62A1FE;
}

input {
  margin: 5px;
}

.bg-light {
  background-color:#ffffff!important;
}
