<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" *ngIf="isUser()" href="/main"><img src="{{this.logo}}" style="width: 60px"></a>
    <a class="navbar-brand" *ngIf="!isAuthenticated()" href="/login"><img src="{{this.logo}}" style="width: 60px"></a>
    <a class="navbar-brand" *ngIf="isModerator()"><img src="{{this.logo}}" style="width: 60px"></a>
    <a class="navbar-brand" *ngIf="isAdmin()"><img src="{{this.logo}}" style="width: 60px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="isModerator()">
          <a class="nav-link active" aria-current="page" href="/ingredients">Ingredients</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link active" aria-current="page" href="/moderatorlist">Moderators</a>
        </li>
        <li class="nav-item" *ngIf="isUser()">
          <a class="nav-link active" aria-current="page" href="/settings">Settings</a>
        </li>
        <li class="nav-item" *ngIf="isUser()">
          <a class="nav-link active" aria-current="page" href="/friendlist">My friends</a>
        </li>
        <li class="nav-item" *ngIf="isModerator()">
          <a class="nav-link active" aria-current="page" href="/kitchenwares">Kitchenware</a>
        </li>
        <li class="nav-item" *ngIf="isUser()">
          <a class="nav-link active" aria-current="page" href="/searchfriend">Discover</a>
        </li>
        <li class="nav-item" *ngIf="isUser()">
          <a class="nav-link active" aria-current="page" href="/my/ingredients">My stock</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/dishes">Dishes</a>
        </li>
      </ul>
      <input class="form-control me-2" style="width: 200px; height: 30px" type="search" *ngIf="isSearchable" #searchValue placeholder="Search" aria-label="Search"
             (keydown.enter)="search(searchValue.value)">
      <button type="button" class="btn btn-light" *ngIf="isAuthenticated()" (click)="Logout()">Logout</button>
    </div>
  </div>
</nav>
