<app-navbar (logoutEvent) = "logout()"></app-navbar>
<form [formGroup]="form" (ngSubmit)="submit()">
<div class="corona form-group lg10">
  <input
    formControlName="name"
    id="name"
    type="email"
    class="form-control"
    placeholder="Name">
</div>
<div class="corona form-group lg10">
  <input
    formControlName="type"
    id="type"
    type="email"
    class="form-control"
    placeholder="Type">
</div>
<div class="corona form-group lg10">
  <input
    formControlName="category"
    id="category"
    type="email"
    class="form-control"
    placeholder="Category">
</div>
<button class="btn btn-primary" type="submit">Add</button>
</form>
