<form
  name="EditModerator"
  [formGroup]="editModeratorForm"
  (ngSubmit)="onSubmit()"
  *ngIf="info"
>

  <div class="card container top">
    <div class="onion">

      <div class="edit-photo">
        <div>
          <input type="image" [src]="this.imagesUrl + info.image + this.strJpg" alt="Avatar" class="photo"
                 formControlName="image">
        </div>


        <div class="edit-button">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-select-photo" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Edit photo
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Choose picture from selected for your avatar</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body container">
                  <div class="row row-cols-3">
                    <div *ngFor="let photo of  this.userPhoto.images">
                      <div class="col ">
                        <button type="button" class='btn btn-primary background' (click)="selectPhoto(photo)"><img
                          [src]="this.imagesUrl + photo + this.strJpg"
                          class="img-fluid select-avatar"></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" (click)="submitPhoto()">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="edit-info">
        <div class="qwer">
          <span class="name">Personal Info</span>

        </div>
        <div class="inf">
          <span class="email_text">Nickname: <input type="text" size="16" style="margin-bottom: 10px" formControlName="nickname"></span>
          <br>
          <span class="email_text">Email: <input type="text" size="20" formControlName="email"></span>
          <br>
          <span class="email_text">Active:  <input type="checkbox" formControlName="isActive"></span>
        </div>


      </div>


      <button class="btn i-button" type="submit"> Save changes
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-pencil-square"
             viewBox="0 0 16 16">
          <path
            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
      </button>

    </div>
    <div class="alert alert-primary" role="alert" *ngIf="alert" (click)="alert = false">
      {{this.displayText}}
    </div>
  </div>

</form>
