.top{
  margin-top: 20px;
  width:80%;
}

.onion{
  display: flex;
  flex-wrap: wrap;
}

.photo{
  border: 4px double black;
  width: 140px;
  height: 140px;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 5px;
  margin-right: 15px;
}

.button{
  border: 2px solid #D9A4F8;
  /*margin-left: 10px;*/
}

.edit-photo{
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

#nick{
  width: 50%;
}

.edit-nick{
  width: 20%;
  display: flex;
  margin-left: 100px;
  margin-top: 10px;
  /*border: 1px solid black;*/
}



.name{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
}

.i-button{
  border: 2px solid #D9A4F8;
  height: 40px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.edit-info{
  margin: 20px 15px;
  width:80%;
  justify-content: space-between;
}

.inf{
  margin-top: 10px;
}

.qwer{
  display: flex;
  justify-content: left;
}

#email{
  width: 55%;
}

.email_text{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 42px;
}
