.box{
  margin-bottom: 15px;
}

form{
  display: block;
  margin: 0 auto;
  width: 350px;
}

.card{
  margin-top: 200px;
}

.card-header{
  display: flex;
}

.nav-link{
  position: absolute;
  left : 85%;
  color:#DDA9FD;
}

.nav-link:hover{
  color: #CD00FB;
}

h1{
  font-size: 50px;
  color:#DDA9FD;
}

