<app-navbar [isSearchable]="true" (searchEvent)="search($event)"></app-navbar>
<app-add-dish *ngIf="isModerator()" style="display: inline"></app-add-dish>
<div class="btn-group" *ngIf="isUser()" style="display: inline">
  <button type="button" class="btn dropdown-toggle button" data-bs-toggle="dropdown" aria-expanded="false">
    Dishes List
  </button>
  <ul class="dropdown-menu" style="cursor: pointer">
    <li><a class="dropdown-item" (click)="suggestedDish()">Depending from my stock</a></li>
    <li><a class="dropdown-item" (click)="refreshList()">Show all</a></li>
    <li><a class="dropdown-item" (click)="favouriteDish()">Show my favourites</a></li>
  </ul>
</div>
<app-dishes-filter *ngIf="!showSuggested" (filterDishEvent)="filterDish($event)"></app-dishes-filter>
<div class="row dishes" *ngIf="dishes">
  <div class="col-md-6" *ngFor="let model of dishes">
    <app-dishes [dish]="model"
                (likeEvent)="like($event)"
                (favouriteEvent)="favourite($event)"></app-dishes>
  </div>
</div>
