<div class="card">
  <img src="{{dish.image}}"
       class="img-thumbnail">
  <div class="card-body">
    <h5 class="card-title">{{dish.name}}</h5>
    <p class="card-text">{{dish.recipe}}</p>
    <p class="card-text">Alcohol: {{dish.alcohol}}</p>
    <p class="card-text">Sugar: {{dish.sugarless}}</p>
    <p class="card-text" style="display: inline">Ingredients: </p>
    <p class="card-text" style="display: inline" *ngFor="let ingredients of dish.ingredientList">{{ingredients.name}} </p>
    <p></p>
    <a *ngIf="isModerator()" href="dishes/edit?id={{dish.id}}" class="stretched-link"></a>
  </div>
</div>
