<div class="card">
  <img src="{{dish.image}}"
       class="img-thumbnail"
       alt="...">
  <div class="card-body">
    <h5 class="card-title">{{dish.name}}</h5>
    <div [ngSwitch]="dish.alcohol" style="display: inline">
      <img *ngSwitchCase="'LOWALCOHOL'" src="https://i.imgur.com/SMTnYwV.png" style="width: 40px"
           data-bs-toggle="tooltip" data-bs-placement="top" title="Low-alcohol">
      <img *ngSwitchCase="'ALCOHOL'" src="https://i.imgur.com/HHBqoWl.png" style="width: 40px" data-bs-toggle="tooltip"
           data-bs-placement="top" title="Alcohol">
      <img *ngSwitchCase="'NONALCOHOL'" src="https://i.imgur.com/v8bq8Mh.png" style="width: 40px"
           data-bs-toggle="tooltip" data-bs-placement="top" title="Non-alcohol">
    </div>
    <div [ngSwitch]="dish.sugarless" style="display: inline">
      <img *ngSwitchCase="true" src="https://i.imgur.com/2818hgh.png" style="width: 40px" data-bs-toggle="tooltip"
           data-bs-placement="top" title="Sweet">
      <img *ngSwitchCase="false" src="https://i.imgur.com/HqbrJko.jpg" style="width: 40px" data-bs-toggle="tooltip"
           data-bs-placement="top" title="Sour">
    </div>
    <p></p>
    <p class="card-text">Recipe: {{dish.recipe}}</p>
    <p class="card-text" style="display: inline">Ingredients: </p>
    <p class="card-text" style="display: inline"
       *ngFor="let ingredients of dish.ingredientList">{{ingredients.name}} </p>
    <p></p>
    <a *ngIf="isModerator()" href="dishes/edit?id={{dish.id}}" class="stretched-link"></a>
    <div *ngIf="isUser()" style="align-content: center;text-align: left;">
      <img *ngIf="!dish.liked" (click)="like()" src="https://i.imgur.com/Ep0rnB8.png" style="width: 40px;">
      <img *ngIf="dish.liked" (click)="like()" src="https://i.imgur.com/MGQcDh3.png" style="width: 40px;">
      <p class="card-text" style="display: inline;margin-left: 5px; font-weight: bold">{{dish.rating}}</p>
      <img *ngIf="!dish.favourite" (click)="favourite()" src="https://i.imgur.com/O0a6wTR.png"
           style="width: 35px;margin-left: 10px">
      <img *ngIf="dish.favourite" (click)="favourite()" src="https://i.imgur.com/bfcLDW3.png"
           style="width: 35px;margin-left: 10px">
    </div>
  </div>
</div>
