<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Add dish
</button>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add new dish</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input class="form-control"
               id="image"
               type="text"
               placeholder="ImageLink"
               #image>
        <input class="form-control"
               id="name"
               type="text"
               placeholder="Name"
               #name>
        <input class="form-control"
               id="receipt"
               type="text"
               placeholder="Description"
               #receipt>
        <select class="form-select" #type aria-label="Alcohol">
          <option value="NONALCOHOL">Non-alcohol</option>
          <option value="LOWALCOHOL">Low-alcohol</option>
          <option value="ALCOHOL">Alcohol</option>
        </select>
        <select class="form-select" #category aria-label="Taste">
          <option value="true">Sweet</option>
          <option value="false">Sour</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="Add(name.value,type.value,category.value, image.value,receipt.value)">Add dish</button>
      </div>
    </div>
  </div>
</div>
