<div class="container">
  <app-navbar [isSearchable]="false"></app-navbar>
  <div *ngIf="event">
    <div class="card-body">
      <h5 class="card-title">Name: {{event.name}}</h5>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Edit event
      </button>
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
           aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Edit event</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <input class="form-control"
                     id="name"
                     type="text"
                     placeholder="Name"
                     #name>
              <input class="form-control"
                     id="datetime"
                     type="datetime-local"
                     placeholder="Date and time"
                     #time>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="edit(name.value,time.value)">Edit event</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary" (click)="join()">
        Join
      </button>
      <button type="button" class="btn btn-primary" (click)="leave()">
        Leave
      </button>
      <p *ngIf="event.creatorName" class="card-text">Creator: {{event.creatorName}}</p>
      <p class="card-text">Event time: {{event.eventTime}}</p>
      <p class="card-text" style="display: inline">Dishes:<br></p>
      <p class="card-text" style="display: inline"
         *ngFor="let dish of event.recipeList">
        {{dish.name}}
        <button type="button" class="btn btn-primary" (click)="removeDish(dish.name)">
          Remove
        </button>
        <br>
      </p>
      <form class="dishForm" [formGroup]="formForDish" (keyup.enter)="submitDish()" (ngSubmit)="submitDish()">
      <input
        formControlName="dishName"
        id="dishName"
        type="text"
        class="form-control"
        placeholder="dish">
      <button type="submit" id="dishButton" class="btn btn-primary">
        Add
      </button>
      </form>
      <p class="card-text" style="display: inline">Users:<br></p>
      <p class="card-text" style="display: inline"
         *ngFor="let user of event.userList">{{user.nickname}}
        <br></p>
    </div>
  </div>
</div>
