<app-navbar [isSearchable]="false"></app-navbar>
<div class="alert alert-danger" role="alert" *ngIf="showErr">
  This ingredient is already included
  <a (click)="closeErr()" class="stretched-link"></a>
</div>
<!--<app-error-alert [erMassage]="'This ingredient is already present'" *ngIf="showErr"></app-error-alert>-->
<div class="row">
  <div class="col-3">
    <div class="card" *ngIf="actualInfo">
      <img src="{{actualInfo.image}}"
           alt="Error while loading image"
           class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">Name: {{actualInfo.name}}</h5>
        <p class="card-text">Recipe: {{actualInfo.recipe}}</p>
        <p class="card-text">Alcohol: {{actualInfo.alcohol}}</p>
        <p class="card-text">Sugar: {{actualInfo.sugarless}}</p>
        <p class="card-text" style="display: inline">Ingredients: </p>
        <p class="card-text" style="display: inline"
           *ngFor="let ingredients of actualInfo.ingredientList">{{ingredients.name}} </p>
        <p></p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Remove
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Remove cocktail?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="removeDish(actualInfo.id)">Yes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-9">
  </div>
</div>
<div class="row">
  <div class="col-6">
    Dish
    <app-ingredients-list *ngIf="actualInfo"
                          [ingredients]="actualInfo.ingredientList"
                          [inDish]="true"
                          [eventText]="'Remove'"
                          (dishEvent)="removeFromDish($event)">

    </app-ingredients-list>
  </div>
  <div class="col-6">
    Catalogue
    <app-ingredients-list [ingredients]="catalogue"
                          [inDish]="true"
                          [eventText]="'Add'"
                          (dishEvent)="addToDish($event)"></app-ingredients-list>
  </div>
</div>
