.input-group,select {
  margin-bottom: 10px;
}

.btn {
  align-items: center;
  justify-content: center;
  padding: .275rem .55rem;
  margin-left: 10px;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545ba;
  border-color: #dc3545;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd9c;
  border-color: #0d6efd;
}

.modal-footer {
  justify-content: space-between;
}


