.badge-danger {
  background-color: #ff0000a1;
}

.badge-success {
  background-color: #0080008f;
}

.badge {
  color: rgba(255,255,255,0);
}

button {
  margin: 5px;
  padding: .175rem .55rem;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd9c;
  border-color: #0d6efd;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545ba;
  border-color: #dc3545;
}


