<app-navbar [isSearchable]="false"></app-navbar>
<div class="alert alert-danger" role="alert" (click)="alert=false" *ngIf="alert">
  Error occurred while editing this ingredient
</div>
<div class="row align-items-center">
  <div class="col-3">
  </div>
  <div class="col-6">
    <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="actualInfo">
      <img src="{{actualInfo.image}}" class="img-thumbnail" alt="...">
      <div class="input-group mb-3">
        <span class="input-group-text">image</span>
        <input aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-default"
               formControlName="image"
               id="image"
               type="text"
               class="form-control"
               [(ngModel)]="actualInfo.image">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Name</span>
        <input aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-default"
               formControlName="name"
               id="name"
               type="text"
               class="form-control"
               [(ngModel)]="actualInfo.name">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Type</span>
        <select class="form-select" aria-label="Type" formControlName="type">
          <option selected>{{actualInfo.type}}</option>
          <option value="Alcohol">Alcohol</option>
          <option value="Fruit">Fruit</option>
          <option value="Beverage">Beverage</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Category</span>
        <select class="form-select" formControlName="category" aria-label="Type">
          <option selected>{{actualInfo.category}}</option>
          <option value="Premium">Premium</option>
          <option value="Medium">Medium</option>
          <option value="Econom">Econom</option>
        </select>
      </div>
      <div class="form-check corona form-group form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [(ngModel)]="actualInfo.active" formControlName="isActive"
               value="true" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">Active</label>
      </div>
      <div class="align-items-center">
        <button class="btn btn-primary" type="submit">Edit</button>
      </div>
    </form>
  </div>
  <div class="col-3">
  </div>
</div>
