<app-navbar></app-navbar>
<html lang="en">
<head>
  <title>Title</title>
  <link rel="stylesheet" href="editPersonalInfo.component.css">
</head>
<body>
<div class = "container-xxl">
  <section class="container">

    <div class="row g-0 d-flex justify-content-start">
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div>
            <img src="Dog.png" alt="Avatar" class="avatar">
          </div>
            <input class="btn btn-primary" type="button" value="Edit photo">
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12 align-self-center text_nickname">
            <input type="text"  id="nickname" placeholder="Nickname">
        </div>
      </div>

  </section>
  <section class = "container" id="section_2">
    <div class="mb-3">
      <strong><label for="exampleFormControlTextarea1" class="form-label">Personal information</label></strong>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Something about"></textarea>
    </div>
    <div class="d-flex flex-row-reverse">
      <input type="submit" value="Ok" class="ok">
      <input type="reset" value="Cancel" class="cancel ok" >
    </div>
  </section>
  </div>
</body>
</html>
