form{
  display: block;
  margin: 0 auto;
  width: 450px;
}

h1{
  font-size: 70px;
  color:#62A1FE;
  text-align: center;
  margin-bottom: 25px;
}

.btn{
  width: 450px;
}

.form-group{
  margin-bottom: 15px;
}

.container{
  margin-top: 120px;
}

.nav-link{
  text-align: center;
  font-size: 20px;
}

