<!doctype html>
<html lang="en">
<head>
  <title>Settings</title>
  <link rel="stylesheet" href="./settings.component.css">
</head>
<body>
<section class = "container-xxl">
  <div>
    <h5><strong>Settings</strong></h5>
  </div>
  <div>
    <a class="btn btn-primary" href="/settings/edit-personal-info" role="button">Edit my personal info</a>
  </div>
  <div>
    <p><strong>Change password</strong></p>
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" id="old" placeholder="old password">
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" id="new" placeholder="new password">
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" id="repeat" placeholder="repeat password">
  </div>
  <div>
    <input class="btn btn-primary" type="submit" value="Change">
  </div>
</section>
</body>
</html>
