<!doctype html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="./settings.component.css">
</head>
<body>

<section class = "container-xxl">
  <div>
    <h5><strong>Settings</strong></h5>
  </div>
  <div>
    <a class="btn btn-primary" href="/settings/edit-personal-info" role="button">Edit my personal info</a>
  </div>
  <div>
    <p><strong>Change password</strong></p>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="corona form-group lg10">
      <input
        formControlName="oldPassword"
        id="oldPassword"
        type="password"
        class="form-control"
        placeholder="old password">
      <div *ngIf="this.form.controls.oldPassword.touched && this.form.controls.oldPassword.invalid" class="alert alert-danger">
        <div *ngIf="this.form.controls.oldPassword.errors?.required">Password is required.</div>
      </div>
    </div>
    <div class="corona form-group lg10">
      <input
        formControlName="password"
        id="password"
        type="password"
        class="form-control"
        placeholder="new password">
      <div *ngIf="this.form.controls.password.touched && this.form.controls.password.invalid" class="alert alert-danger">
        <div *ngIf="this.form.controls.password.errors?.required">Password is required.</div>
      </div>
    </div>
    <div class="corona form-group lg10">
      <input
        formControlName="doubleCheckPass"
        id="doubleCheckPass"
        type="password"
        class="form-control"
        placeholder="repeat new password">
      <div *ngIf="this.form.controls.doubleCheckPass.touched && this.form.controls.doubleCheckPass.invalid" class="alert alert-danger">
        <div *ngIf="this.form.controls.doubleCheckPass.errors?.required">Password is required.</div>
        <div *ngIf="this.form.controls.doubleCheckPass.errors?.confirmedValidator">Password and Confirm Password must be match.</div>
      </div>
    </div>
    <div><button class="btn btn-primary" type="submit" [disabled]="!form.valid">Change</button></div>
    <div *ngIf=" this.success"> Password changed successful .</div>
  </form>
</section>
</body>
</html>
