section {
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 10px;
}

div {
  padding-bottom: 10px;
  padding-left: -20px;
}

h5 {
  padding-left: 20px;
}

p {
  margin-bottom: 0;
}

.form-control {
  width: 230px;
}

.alert-error {
  width: 230px;
  padding-left: 5px;
  height: 35px;
}

.alert-window {
  justify-content: space-between;
  display: flex;
  height: 50px;
  width: 350px;
  vertical-align: center;
}

.padd {
  margin-top: -10px;
  margin-left: -5px;
  margin-right: -5px;
  text-align: center;
  vertical-align: center;
}

.pad {
  margin-top: -10px;
  margin-left: -5px;
  text-align: center;
  vertical-align: center;
}

.btn {
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #212529;
  background-color: #62A1FE;
  padding: .275rem .55rem;
  margin-left: auto;
  margin-right: auto;
}
